.footer-card{
    /* background-color: green; */
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-around;
    padding:20px 0px;
    background-color: whitesmoke;

}
.contact-list{
    font-size: 17px;
    /* padding: 5px; */
    color: rgb(58, 54, 54);
    width: auto;
    height: auto;
       /* border: 1px solid blue; */
       font-weight: 600;
    
}
.card-1{
    display: inline-block;
  justify-content: center;
padding: 10px;
  align-items: start;
  flex-direction: column;
  flex-wrap: wrap;
    /* border: 1px solid red; */
}

.contact-us{
    display:flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
        /* border: 1px solid blue; */
        flex-wrap: wrap;
        list-style: none;
        
}


.mail{
    width:40px;
}
.social-media{
     display:flex;
    justify-content: center;
    align-items: start;
        /* border: 1px solid blue; */
        flex-wrap: wrap;
        list-style: none;
}
.social-media-2{
     display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: start;
    flex-wrap: wrap;
    list-style: none;
}

.reserved{
    background-color:#E5E5E5;
    display: flex;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    
}

@media (min-width:320px) and (max-width:380px){
    .footer-card{
    /* background-color: green; */
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    padding:20px 0px;
    background-color: whitesmoke;

}
.contact-list{
    font-size: 17px;
    padding: 5px;
    color: rgb(58, 54, 54);
    width: auto;
    height: auto;
       /* border: 1px solid blue; */
       font-weight: 600;
    
}
.card-1{
    display: inline-block;
  justify-content: center;
/* padding: 10px; */
margin: 10px auto;
  align-items: start;
  flex-direction: column;
  flex-wrap: wrap;
  border-bottom: 1px solid gray;
}

.contact-us{
    display:flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
        /* border: 1px solid blue; */
        flex-wrap: wrap;
        list-style: none;
    
        
}


.mail{
    width:40px;
}
.social-media{
     display:flex;
    justify-content: center;
    align-items: start;
        /* border: 1px solid blue; */
        flex-wrap: wrap;
        list-style: none;
        
}
.social-media-2{
     display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: start;
    flex-wrap: wrap;
    list-style: none;
}

.reserved{
    background-color:#E5E5E5;
    display: flex;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    
}
.ervices{
    text-align: start;
}

.card-22{
    width: 300px;
/* margin:10px; */
margin: 10px auto;
 border-bottom: 1px solid gray;
}
.card-2{
/* padding: 10px; */
width: 300px;
margin: 10px auto;
 border-bottom: 1px solid gray;
}

}