*{
    margin: 0px;
    padding: 0px;
  
}

.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: black;
  position: fixed;  
  width: 100dvw;
  z-index: 2;
  height: 60px;
  box-shadow: 1px 8px 15px rgba(0,0,0,0.5);
  
}

/* .facode{
width: 20px;
height: 20px;  
} */

.logo{
    background-color: black;
    color: whitesmoke;
     width: 160px;  
    height: 50px;
    display: flex;
    font-size: 22px;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
       user-select: none;
       /* border: 1px solid white; */
   
}




.neviagtion{
width: auto;
height: auto;
display: flex;
flex-wrap: wrap;
  background-color: black;
     user-select: none;
     /* border: 1px solid red; */
}

.list{
    list-style: none;
    display: flex;
      color: whitesmoke;
 width: 700px;
height: auto;
 justify-content:space-around;
 align-items: center;
 flex-wrap: wrap;
 /* border: 1px solid green; */
}

li{
 font-size: 22px;
 font-weight: 500;
 width: 90px;
 text-align: center;
}
li:hover{

 text-decoration: underline;
 cursor: pointer;
} 


@media (min-width:320px) and (max-width:380px){
  
  .header-container{
  display: flex;
justify-content: space-evenly;
align-items: center;  
  box-shadow: 1px 4px 15px rgba(0,0,0,0.5);
}
  

.logo{
    background-color: black;
    color: whitesmoke;
     width: 95px;  
    height: 28px;
    display:flex;
    font-size: 14px;
    flex-wrap: wrap;
    align-items: center;

    justify-content: center;
text-shadow:  2px 2px 8px white;
/* border: 1px solid green; */
user-select: none;
}


.neviagtion{
  
width: auto;
height: auto;
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
  background-color: black;
  /* border: 1px solid red; */
}
.list{
    list-style: none;
    display: flex;
      color: whitesmoke;
 width: 210px;
height: auto;
 justify-content:space-around;
 align-items: center;
 flex-wrap: wrap; 
 /* border: 1px solid green; */
}

li{
 font-size: 15px;
 font-weight: 500;
 width: 65px;
 text-align: center;
}

li:active{
 font-size: 15px;
 font-weight: 500;
 width: 65px;
 text-align: center;
 text-decoration: underline;
 user-select: none;
}

.users{
  color: whitesmoke;
/* border: 1px solid green; */
width: 100px;
height: 30px;
margin: auto 0px;
cursor: pointer;
}

.facode{
  font-size: 14px;
  margin: 0px 2px;
   /* border: 1px solid green; */
}

.devbros{
  font-size: 12px;
   /* border: 1px solid green; */
   align-self: center;
}

}

.users{
  color: whitesmoke;
width: 50px;
height: 18px;
margin: auto 0px;
cursor: pointer;
}