*{
    margin: 0px;
    padding: 0px;
  
}

.header-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: black;
  position: fixed;  
  width: 100dvw;
  z-index: 2;
  height: 60px;
  box-shadow: 1px 8px 15px rgba(0,0,0,0.5);
 /* border-color: 2px solid green; */
}

/* .facode{
width: 20px;
height: 20px;  
} */

.logo{
    background-color: black;
    color: whitesmoke;
     width: 190px;  
    height: 50px;
    display: flex;
    font-size: 22px;
    align-items: center;
    justify-content: center;
    gap:10px;
    flex-wrap: wrap;
       user-select: none;
   
}




.neviagtion{
width: auto;
height: auto;
display: flex;
flex-wrap: wrap;
  background-color: black;
     user-select: none;
     /* border: 1px solid red; */
}

.list{
    list-style: none;
    display: flex;
      color: whitesmoke;
 width: 700px;
height: auto;
 justify-content:space-around;
 align-items: center;
 flex-wrap: wrap;
 /* border: 1px solid green; */
}

li{
 font-size: 22px;
 font-weight: 500;
 width: 90px;
 text-align: center;
}
li:hover{

 text-decoration: underline;
 cursor: pointer;
} 


@media (min-width:320px) and (max-width:380px){
.header-container{
display: flex;
justify-content: space-evenly;
align-items: center;  
box-shadow: 1px 4px 15px rgba(0,0,0,0.5);
}

.logo{
    background-color: black;
    color: whitesmoke;
     width: 100px;  
    height: 28px;
    display:flex;
    font-size: 6px;
    flex-wrap: wrap;
    align-items: center;
    text-shadow:  2px 2px 8px white;
    user-select: none;
}

#small-logo{
  font-size: 12px;
}

.neviagtion{
width: auto;
height: auto;
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
background-color: black;
}

.list{
 list-style: none;
 display: flex;
 color: whitesmoke;
 width: 210px;
 height: auto;
 justify-content:space-around;
 align-items: center;
 flex-wrap: wrap; 
}

li{
 font-size: 15px;
 font-weight: 500;
 width: 65px;
 text-align: center;
}

li:active{
 font-size: 15px;
 font-weight: 500;
 width: 65px;
 text-align: center;
 text-decoration: underline;
 user-select: none;
}

#desktop-user{
 width: 15px;
 height: 15px;
} 

.users {
  /* color: whitesmoke; */
width: 100px;
height: 30px;
margin: auto 0px;
cursor: pointer;

}

.facode{
  font-size: 14px;
  margin: 0px 2px;
}

}

.users{
  color: whitesmoke;
width: 50px;
height: 28px;
margin: auto 0px;
cursor: pointer;
}
.devbros{
  font-size: 20px;
   align-self: center;
}


.mydesktop{
  display: none;
}

.myphone{
  display: block;
}

/* Default: Mobile (show hamburger, hide user icon) */
.mydesktop {
  display: none;
}
.myphone {
  display: block;
}

/* Desktop screen ke liye */
@media (min-width: 380px) {
  .mydesktop {
    display: block; /* user icon visible */
  }
  .myphone {
    display: none;  /* hamburger hidden */
  }
}

a{
  color: white;
  text-decoration: none;
}